.appliedHead{
background-color: #7e90fe;
text-align: center;
color:white;
padding: 40px;
border-radius: 10px;

}
.aplied-section{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 30px;
    border:  1px solid gray;

    border-radius: 10px;
}
.aplied-det-s{


    display: flex;
}
.aplied-det{

    display:flex;
    align-items: center;
   
    
  
}
.aplied-section{

   
}

.separateBtn{


    background-color: blueviolet;
    margin: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}

.separateBtn:hover{


    background-color: aliceblue;
    color: blueviolet;
}