.footer{

    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    
}

.Footer{
background-color: black;
color: rgb(172, 164, 154);

}
.font-bold{

    color: white;
    font-weight: bold;
}
.footer-img{

    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}
a{


    
    padding: 10px;
}

.icon{


    background-color: aliceblue;
    margin: 10px;
    font-size: larger;
    border-radius: 50%;
}